body {
  background-color: #121212; /* Set a global dark background */
  color: #fff; /* Set text color to white for better readability */
  font-family: "Arial", sans-serif; /* Use a modern font */
}
